/* .container-icon-menu {
  width: 200px;
  height: 200px;
} */

.Icon-Menu-Styled {
  color: white;
  width: 100%;
}

.MenuStyled ul li {
  /* color: rgb(255, 0, 0); */
}
/* body {
  background-color: aqua;
} */
